 body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
  font-family: Arial, Helvetica, Sans-serif;
}

div #scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

}