 body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;
}

h1 {
  /* position the heading */
  position: absolute;

  /* determine the font size and family */
  font-family: Arial, Helvetica, Sans-serif;
}

div#scene-container {
  /* tell our scene container to take up a very small ortion */
  width: 35%;
  height: 200px;
  background-color: lightgray;
}